<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39224828573-1f98utljsje3oe8abobd0qdtup0q45fb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39224828573-1f98utljsje3oe8abobd0qdtup0q45fb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>39224828573-086nap6mv3h7rctn7bvu1b305r6ehct4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVK5x8ZYNDRoVAqisEW9rMia7ljA52GCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>39224828573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aquimatch.app</string>
	<key>PROJECT_ID</key>
	<string>mi-app-conexion</string>
	<key>STORAGE_BUCKET</key>
	<string>mi-app-conexion.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39224828573:ios:f3b5d56b06160a3e672a74</string>
</dict>
</plist>
